body {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 20px;
}
.centrar{
    text-align: center;
}
.contenido{
    background-color: aliceblue;
    margin: 200px;
    padding: 45px;
}
.header{
    background-color: bisque;
    padding: 30px 15px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    max-width: 960px;
    background-color: #717171;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
}
#navi{
    float: left;
    padding: 20px;
}
a{
    color: rgb(0, 0, 0);
    border-right: 2px solid white;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
.justificar{
    text-align: justify;
}
.footer{
    background-color:#2e2e2e;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin: 0;
}
#ima{
    background-image: url('../img/background-rec.jpg');
    background-size:contain;
}
#ind{
    background-image: url('../img/background.jpg');
}
#inf{
    background-image: url('../img/background-info.jpg');
    background-size:contain;
}
#vid{
    background-image: url('../img/background-vid.png');
    background-size: contain;
}
#nav{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 45;
}

